## Aula 5: Introdução a Banco de Dados + SQL

### Objetivos
Apresentar ao aluno conceitos de banco de dados e DBIs (Database Interface), com enfoque em bancos de dados relacionais e o uso do SQL.

### Habilidades a serem desenvolvidas
Ao fim da aula, o aluno deve saber:
- Conceitos e definições de Banco de Dados, SBGD e Banco de Dados Relacionais;
- Interpretar diagramas do modelo relacional;
- Estruturar e criar um banco de dados;
- Criar tabelas em um banco de dados;
- Obter dados a partir de um banco de dados:
    - Cláusulas `select`, `from`, `where`, `group by`, `having`, `order by`, `join`;
- Enviar dados para um banco de dados.

### Bibliotecas usadas
- Pandas;
- Numpy;
- Matplotlib;
- Seaborn;
- SQLite;
- SQLAlchemy.

### Sugestões de exemplos e exercícios
- Olist.

### Sugestão de leitura
- [Python + MySQL](https://www.w3schools.com/python/python_mysql_getstarted.asp)
- [PEP 249](https://www.python.org/dev/peps/pep-0249/)
- [Database Interfaces, no Python Wiki](https://wiki.python.org/moin/DatabaseInterfaces)

## Códigos

É possível **Inserir** dados na tabela, por exemplo:

    INSERT INTO Usuarios(nome, idade, sexo, salario) VALUES ("Joaquim Silva",60,"M",200)
    
É possível **Atualizar** a tabela, por exemplo: 

    UPDATE Usuarios SET salario=2000 WHERE Nome="Joaquim Silva"
    
É possível **Remover** os dados, por exemplo:

    DELETE FROM Usuarios WHERE Nome="Joaquim Silva"
    
É Possível **Consultar** a tabela, por exemplo :

## Conexao no db4free

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lucas\anaconda3\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\lucas\anaconda3\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\users\lucas\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector
import pandas as pd

#Dados do banco de dados db4free

host = 'db4free.net'
port = 3306

user = 'lucas_batista'
password = "letscode"
database = "lucas_db_letscod"

In [ ]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database, port=port)

cursor = con.cursor()

print(cursor.execute("SHOW TABLES"))

In [ ]:
#Conectando
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database, port=port)

sql = '''CREATE TABLE empresas(estabelecimento CHAR(40),
                               receita INT,
                               custo INT,
                               anomes INT)'''

cursor = con.cursor()

cursor.execute('DROP TABLE IF EXISTS empresas')
cursor.execute(sql)

print(cursor.execute("SHOW TABLES"))

con.close()
cursor.description

In [ ]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)

cursor = con.cursor()

sql = "select * from empresas"
cursor.execute(sql)
resultado = cursor.fetchall()

desc = cursor.description
cursor.close()
con.close()
print(desc)

In [ ]:
resultado

### Inserindo dados

Para inserir dados temos que executar uma query atraves de um cursor (uma extrutura de controle), porém a inserção so é salva no banco após enviarmos um commit.

Oberve que ao criamos a query não passamos os valores a serem inseridos diretamente, eles são passados na fução execute, como uma tupla em uma variavel diferente da query. Isto impede o [sql injection](https://pt.wikipedia.org/wiki/Inje%C3%A7%C3%A3o_de_SQL), um tipo comum de ataque por hackers.

#### Inserindo dados

In [ ]:
#Abre conexao
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)

val = ("MCDonalds","5000","4000","201912")

sql = f'''INSERT INTO empresas(estabelecimento, receita, custo, anomes) 
VALUES ('{val[0]}','{val[1]}','{val[2]}','{val[3]}')'''

print(sql)

#Define cursor
cursor = con.cursor()
#Executa código SQL
cursor.execute(sql)
#Realiza commit
con.commit()
#Fecha a conexão
con.close()

#### Checando inserção dos dados

In [ ]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)

cursor = con.cursor()

sql = "select * from empresas"
cursor.execute(sql)
resultado = cursor.fetchall()

con.close()
cursor.close()

print(resultado)

#### Inserindo mais dados

In [ ]:
#Abre conexao
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)

val = ("BurgerKing","4000","2800","201912")

sql = f'''INSERT INTO empresas(estabelecimento, receita, custo, anomes) 
VALUES ('{val[0]}','{val[1]}','{val[2]}','{val[3]}')'''

print(sql)

#Define cursor
cursor = con.cursor()
#Executa código SQL
cursor.execute(sql)
#Realiza commit
con.commit()
#Fecha a conexão
con.close()

In [ ]:
resultado

## Inserindo vários Dados de uma só vez

In [ ]:
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)

cursor = con.cursor()

val =  [("Wendys","6000","4500","202001"),
        ("Patties","900","900","202001"),
        ('Zebeleo', '5', '10000', '202002'),
        ('Koburger', '3000', '2500', '202002')]


sql = '''INSERT INTO empresas(estabelecimento, receita, custo, anomes) 
          VALUES (%s, %s, %s, %s)'''


cursor.executemany(sql, val)
    
con.commit()
con.close()

In [ ]:
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

#Query de para buscar todos os usarios
sql = "SELECT * FROM empresas"
cursor.execute(sql)
#Pegando todos os valores retorno
resultado = cursor.fetchall()
#imprimindo item a item
for linha in resultado:
    print("--------------")
    print(linha)
    print("Estabelecimento:",linha[0])
    print("Receita:",linha[1])
    print("Custo:",linha[2])
    print("Anomes:",linha[3])

con.close()

In [ ]:
def select_table(user=user,
                password=password,
                host=host,
                database=database,
                table_name = 'empresas'):
    
    con = mysql.connector.connect(user=user,
                                  password=password,
                                  host=host,
                                  database=database)
    cursor = con.cursor()
    sql = "SELECT * FROM {}".format(table_name)
    cursor.execute(sql)
    resultado = cursor.fetchall()
    con.close()
    
    return resultado, cursor

In [ ]:
def input_data():
    print('Nome da Empresa :')
    nome = input()
    print('Receita da Empresa :')
    receita = input()
    print('Custo da Empresa :')
    custo = input()
    print('Anomes :')
    anomes = input()
    
    con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                         database=database)
    
    cursor = con.cursor()
    
    query = f'''INSERT INTO empresas(estabelecimento,receita, custo, anomes) 
                    VALUES ('{nome}','{receita}','{custo}','{anomes}')'''
    
    cursor.execute(query)
    con.commit()
    con.close()
    return None

**ARGS e KWARGS**

Nesse ponto da aula, vocês haviam sugerido de utilizar o `args` para passar os parâmetros `user`, `password`, etc... na função `input_data` e consequentemente no `mysql.connector.connect`. Acontece que nesse caso, acredito que não seria a melhor forma, pois nós queremos garantir que os parâmetros sejam explicitamente definidos, alem de que utilizando o `args`, teríamos que verificar qual argumento se enquadraría em determinado parâmetro.

Ter conhecimento do que eles fazem é bem válido. Deixo uns links explicando como eles podem ser utilizados e pra que servem:
- https://medium.com/rafaeltardivo/python-entendendo-o-uso-de-args-e-kwargs-em-fun%C3%A7%C3%B5es-e-m%C3%A9todos-c8c2810e9dc8
- https://www.geeksforgeeks.org/args-kwargs-python/
- https://www.programiz.com/python-programming/args-and-kwargs

In [ ]:
input_data()

In [ ]:
resultado, cursor = select_table()

In [ ]:
columns = [col[0] for col in cursor.description]

In [ ]:
df_empresas = pd.DataFrame(resultado, columns=columns)

In [ ]:
df_empresas.head()

**Lendo do pandas de forma alternativa**

In [ ]:
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

#usando o read_sql_query
df = pd.read_sql_query("SELECT * from empresas", con)

con.close()

In [ ]:
df.head()

Abrir conexao
definir um cursor
Executar a partir do cursor
commitar
fechar conexao

con -> cursor -> cursor.execute() -> con.commit() -> con.close()

In [ ]:
#Propor exercicio para ler apenas o primeiro nome
#Lendo apenas o nome
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

sql = "SELECT estabelecimento FROM empresas"
cursor.execute(sql)
resultado = cursor.fetchall()
for linha in resultado:
    print("--------------")
    print(linha)
con.close()

### Deletando dados a respeito de uma Tabela

In [ ]:
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

sql = "DELETE FROM empresas Where estabelecimento = 'Tertulia'"
cursor.execute(sql)

con.commit()
con.close()

### Atualizando Dados a respeito de uma tabela

In [ ]:
con = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

sql = "UPDATE empresas set estabelecimento = 'Mequi_1000' Where estabelecimento = 'MCDonalds'"
cursor.execute(sql)

con.commit()
con.close()

## Comandos SQL

### Where

In [ ]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

sql = '''SELECT *
         FROM empresas
         WHERE receita > 1000'''

cursor.execute(sql)
resultado = cursor.fetchall()
con.close()
print(resultado)

### Group by

In [ ]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

sql = '''SELECT anomes, SUM(receita) as soma_receita
         FROM empresas
         GROUP BY anomes'''

cursor.execute(sql)
resultado = cursor.fetchall()
con.close()
print(resultado)

In [ ]:
[res[0] for res in cursor.description]

### Order by

In [ ]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

sql = '''SELECT anomes, SUM(receita) as soma_receita
         FROM empresas
         GROUP BY anomes
         ORDER BY anomes DESC'''

cursor.execute(sql)
resultado = cursor.fetchall()
con.close()
print(resultado)

### Having

In [ ]:
con = mysql.connector.connect(user=user, 
                              password=password,
                              host=host,
                              database=database)
cursor = con.cursor()

sql = '''SELECT anomes, SUM(receita) as soma_receita
         FROM empresas
         GROUP BY anomes
         HAVING soma_receita > 6000
         '''

cursor.execute(sql)
resultado = cursor.fetchall()
con.close()
print(resultado)